In [173]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

import ast
import warnings
warnings.filterwarnings("ignore")

In [12]:
hilton=pd.read_csv("hilton_post",index_col=[0])
holiday_inn=pd.read_csv("holiday_inn",index_col=[0])
hyatt=pd.read_csv("hyatt",index_col=[0])
wyndham=pd.read_csv("wyndham",index_col=[0])
hilton.head()

,date,caption,id,profile,type,caption_and_hashtags,is_video,view_count,video_duration,likes,comments,com_list
0,2020-04-09 16:33:28,"Over the past few weeks, we‚Äôve gotten lots of ...",1,hilton,GraphVideo,[],True,1730.0,30.3,194,29,"[['‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è', 0, '<Profile allpurple10 (31050709..."
1,2020-04-06 12:37:22,One million ‚Äòthank-yous‚Äô to the frontline medi...,2,hilton,GraphImage,['hotelsforheroes'],False,NaN,NaN,412,19,"[['This is awesome!!!üëèüëèüëè', 0, '<Profile allpur..."
2,2020-04-03 15:31:01,We‚Äôre joining with hotels across the world to ...,3,hilton,GraphSidecar,['hope'],False,NaN,NaN,418,7,"[['Build with immortal love üëë', 0, '<Profile l..."
3,2020-03-11 15:54:11,We tend to lose track of things during a stay ...,4,hilton,GraphImage,[],False,NaN,NaN,98,1,[['.\n.\n.\n.\n#staugustine #staugustinefl #st...
4,2020-03-09 18:02:10,"From Lake Boca to the beach, @bocaresort will ...",5,hilton,GraphImage,[],False,NaN,NaN,227,7,[['.\n.\n.\n.\n#boca #bocaraton #resortlife #e...

In [26]:
hilton['com_list']=hilton['com_list'].apply(lambda x: ast.literal_eval(x))
hilton['com_list'].head()

0    [[‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è, 0, <Profile allpurple10 (3105070945)...
1    [[This is awesome!!!üëèüëèüëè, 0, <Profile allpurple...
2    [[Build with immortal love üëë, 0, <Profile liro...
3    [[.\n.\n.\n.\n#staugustine #staugustinefl #sta...
4    [[.\n.\n.\n.\n#boca #bocaraton #resortlife #ex...
Name: com_list, dtype: object

In [36]:
test=hilton['com_list'][0][0]

In [115]:
#ÎåìÍ∏Ä ÌîÑÎ°úÌïÑ ÎΩëÍ∏∞ 
test[2]
print(test[2])
import re 

def comment_profile(comment):
    pattern=re.compile("\([0-9]+\)")
    return int(pattern.search(comment).group(0)[1:-1])

print(comment_profile(test[2]))

<Profile allpurple10 (3105070945)>
3105070945

In [205]:
post_df=pd.DataFrame(columns=["post_id","comment","comment_like","comment_writer","Recomment"])
post_df

Empty DataFrame
Columns: [post_id, comment, comment_like, comment_writer, Recomment]
Index: []

In [197]:
print(type(hilton["id"].values))

<class 'numpy.ndarray'>

In [269]:
### comment ÎΩëÏïÑÎÇ¥Í∏∞ 
def com_list(list_):
    return [list_[x][0] for x in range(len(list_))]

def like_list(list_):
    return [list_[x][1] for x in range(len(list_))]

def comment_writer_list(list_):
    return [comment_profile(list_[x][2]) for x in range(len(list_))]

def comment_comment(list_):
    return [list_[x][3] for x in range(len(list_))]
#######test###########
# new_df['com_list'][0]
# print(com_list(hilton['com_list'][0]))
# print(like_list(hilton['com_list'][0]))
# print(comment_writer_list(hilton["com_list"][3]))
hilton["com_list"][0][0][3]

[['@allpurple10 üíôüç™', '<Profile hilton (4284913372)>', 0]]

In [270]:
post_df=pd.DataFrame(columns=["post_id","comment","comment_like","comment_writer","Recomment"])
post_df
# hilton
post_df["post_id"]=hilton["id"].values
post_df["comment"]=hilton['com_list'].apply(lambda x: com_list(x))
post_df['comment_like']=hilton["com_list"].apply(lambda x: like_list(x))
post_df["comment_writer"]=hilton["com_list"].apply(lambda x: comment_writer_list(x))
post_df["Recomment"]=hilton["com_list"].apply(lambda x : comment_comment(x))
post_df.to_csv("hilton_comment",index=False)

In [272]:
post_df=pd.DataFrame(columns=["post_id","comment","comment_like","comment_writer","Recomment"])
post_df
# holiday_inn
# holiday_inn['com_list']=holiday_inn['com_list'].apply(lambda x: ast.literal_eval(x))
post_df["post_id"]=holiday_inn["id"].values
post_df["comment"]=holiday_inn['com_list'].apply(lambda x: com_list(x))
post_df['comment_like']=holiday_inn["com_list"].apply(lambda x: like_list(x))
post_df["comment_writer"]=holiday_inn["com_list"].apply(lambda x: comment_writer_list(x))
post_df["Recomment"]=holiday_inn["com_list"].apply(lambda x : comment_comment(x))
post_df.to_csv("holiday_comment",index=False)
post_df

,post_id,comment,comment_like,comment_writer,Recomment
0,1,"[ü§ó, Sounds awesome! üëçüèºüòé‚ù§Ô∏è, ‚ù§Ô∏è, üß°üß°üß°, üôå‚ô•Ô∏èüôå, ‚ù§Ô∏è l...","[2, 3, 2, 1, 1, 0, 1, 2, 0]","[288680414, 10128253160, 14250952817, 7506838,...","[[[@crazy_fresh86 üòÄ, <Profile hyatt (302621420..."
1,2,"[I love what they doing üòç, üíóüíóüëè, üíô‚ú®, @hyatt Th...","[1, 1, 1, 1, 2]","[9725644398, 32704838519, 5766675886, 56489260...","[[[@adafromhonduras we absolutely do too!, <Pr..."
2,3,"[hi, I would like to know how can I apply to w...","[0, 1, 1, 1, 0]","[1635937146, 351342335, 7770947544, 4066357093...",[[[@danielaqquaresma please try this link http...
3,4,[I booked chandighar and amritsar but I have t...,"[0, 1, 1, 1, 1, 1, 1, 0, 0]","[7111095802, 1018373458, 51676501, 7770947544,...",[[[@snehal.mehta.399 We are keeping our guest ...
4,5,[I'm missing Grand Hyatt Rio de Janeiro alread...,"[2, 1, 4, 1, 7, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[182606641, 19955941, 178525377, 34793602, 932...",[[[@mayguimaraes.jpg We are eagerly waiting to...
...,...,...,...,...,...
664,665,"[üòçüòçüòçüòç, Wish we were there @mattycheese, @eze90...","[0, 0, 0]","[239897951, 1096648038, 31976482]","[[], [], []]"
665,666,"[@frobeanie üç©üç©üç©, @nancythib have you seen thes...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1031149, 174088146, 36645595, 1253504, 166538...","[[], [], [], [], [], [], [], [], [], [], [], [..."
666,667,"[We stayed here! @keegansawyer @alexkaye13, @s...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[15272936, 13871741, 19296352, 278065362, 2881...","[[], [], [], [], [], [], [], [], [], []]"
667,668,"[I want that! üòç, Looks like the perfect cup ri...","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[8459149, 1913775071, 255068234, 255068234, 19...","[[], [], [], [], [], [], [], [], []]"
668,669,"[üòãüòª, @rurinurul, Love that city., @ayeshafk, w...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[187933887, 1018762736, 27708883, 776071793, 1...","[[], [], [], [], [], [], [], [], [], []]"

In [274]:
post_df=pd.DataFrame(columns=["post_id","comment","comment_like","comment_writer","Recomment"])
post_df
# hyatt
# hyatt['com_list']=hyatt['com_list'].apply(lambda x: ast.literal_eval(x))
post_df["post_id"]=hyatt["id"].values
post_df["comment"]=hyatt['com_list'].apply(lambda x: com_list(x))
post_df['comment_like']=hyatt["com_list"].apply(lambda x: like_list(x))
post_df["comment_writer"]=hyatt["com_list"].apply(lambda x: comment_writer_list(x))
post_df["Recomment"]=hyatt["com_list"].apply(lambda x : comment_comment(x))
post_df.to_csv("hyatt_comment",index=False)
post_df

,post_id,comment,comment_like,comment_writer,Recomment
0,1,"[ü§ó, Sounds awesome! üëçüèºüòé‚ù§Ô∏è, ‚ù§Ô∏è, üß°üß°üß°, üôå‚ô•Ô∏èüôå, ‚ù§Ô∏è l...","[2, 3, 2, 1, 1, 0, 1, 2, 0]","[288680414, 10128253160, 14250952817, 7506838,...","[[[@crazy_fresh86 üòÄ, <Profile hyatt (302621420..."
1,2,"[I love what they doing üòç, üíóüíóüëè, üíô‚ú®, @hyatt Th...","[1, 1, 1, 1, 2]","[9725644398, 32704838519, 5766675886, 56489260...","[[[@adafromhonduras we absolutely do too!, <Pr..."
2,3,"[hi, I would like to know how can I apply to w...","[0, 1, 1, 1, 0]","[1635937146, 351342335, 7770947544, 4066357093...",[[[@danielaqquaresma please try this link http...
3,4,[I booked chandighar and amritsar but I have t...,"[0, 1, 1, 1, 1, 1, 1, 0, 0]","[7111095802, 1018373458, 51676501, 7770947544,...",[[[@snehal.mehta.399 We are keeping our guest ...
4,5,[I'm missing Grand Hyatt Rio de Janeiro alread...,"[2, 1, 4, 1, 7, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[182606641, 19955941, 178525377, 34793602, 932...",[[[@mayguimaraes.jpg We are eagerly waiting to...
...,...,...,...,...,...
1456,1456,[Amazing!!! Staying there in 2 weeks looking f...,"[0, 0]","[359824598, 1156047175]","[[], []]"
1457,1457,[],[],[],[]
1458,1458,[Indeed and amazing hotel],[0],[326211592],[[]]
1459,1459,[üëèüëèüëè],[0],[4784259111],[[]]
1460,1460,"[Love this one :), This is super!, Gorgeous!, ...","[0, 0, 0, 0]","[375112012, 6389895, 23883830, 4784259111]","[[], [], [], []]"

In [279]:
post_df=pd.DataFrame(columns=["post_id","comment","comment_like","comment_writer","Recomment"])
post_df
# wyndham
# wyndham['com_list']=wyndham['com_list'].apply(lambda x: ast.literal_eval(x))
post_df["post_id"]=wyndham["id"].values
post_df["comment"]=wyndham['com_list'].apply(lambda x: com_list(x))
post_df['comment_like']=wyndham["com_list"].apply(lambda x: like_list(x))
post_df["comment_writer"]=wyndham["com_list"].apply(lambda x: comment_writer_list(x))
post_df["Recomment"]=wyndham["com_list"].apply(lambda x : comment_comment(x))
post_df.to_csv("wyndham_comment",index=False)
post_df

,post_id,comment,comment_like,comment_writer,Recomment
0,1,[So are you closing any locations. And what is...,"[0, 0, 0]","[2949682677, 30400932380, 32314495540]",[[[@myercharles No closures as far as we have ...
1,2,[#WyndhamRewards #Hotel #HotelLife #HotelRoom ...,"[0, 0]","[4588672887, 2218457571]","[[], []]"
2,3,[#WyndhamRewards #Hotel #HotelLife #HotelRoom ...,[0],[4588672887],[[]]
3,4,[#WyndhamRewards #Hotel #HotelLife #HotelRoom ...,"[0, 0, 0]","[4588672887, 431729166, 7705405780]","[[], [], []]"
4,5,[#WyndhamRewards #Hotel #HotelLife #HotelRoom ...,[0],[4588672887],[[]]
...,...,...,...,...,...
375,375,[.\n.\n.\n.\n.\n#WyndhamRewards #Hotel #HotelL...,"[0, 0, 0]","[4588672887, 7617712266, 46781238]","[[], [], []]"
376,376,[#WyndhamRewards #Hotel #HotelLife #HotelRoom ...,"[0, 0, 0, 0]","[4588672887, 7034545736, 6964119416, 46781238]","[[], [], [], []]"
377,377,[.\n.\n.\n.\n.\n#Hotel #Hotels #Resorts #Hotel...,"[0, 0, 0]","[4588672887, 5846388556, 46781238]","[[], [], []]"
378,378,[.\n.\n.\n.\n.\n#Hotel #Hotels #Resorts #Hotel...,"[0, 0]","[4588672887, 46781238]","[[], []]"
379,379,[.\n.\n.\n.\n.\n#Hotel #Hotels #Resorts #Hotel...,"[0, 0]","[4588672887, 46781238]","[[], []]"

In [253]:
wyndham.head()

,date,caption,id,profile,type,caption_and_hashtags,is_video,view_count,video_duration,likes,comments,com_list
0,2020-03-25 14:24:25,The safety of our guests and team members arou...,1,wyndham,GraphImage,[],False,NaN,NaN,133,9,[[So are you closing any locations. And what i...
1,2020-03-11 17:17:22,After spending 10 hours hopping from ride to r...,2,wyndham,GraphSidecar,"['wyndham', 'simplycomfortable']",False,NaN,NaN,67,5,[[#WyndhamRewards #Hotel #HotelLife #HotelRoom...
2,2020-03-09 16:49:11,The rooftop pool at @wyndhamalbrook was design...,3,wyndham,GraphImage,"['wyndham', 'simplycomfortable']",False,NaN,NaN,63,3,[[#WyndhamRewards #Hotel #HotelLife #HotelRoom...
3,2020-03-07 17:40:53,Gain a new perspective of a buzzing city witho...,4,wyndham,GraphSidecar,"['wyndham', 'simplycomfortable']",False,NaN,NaN,96,3,[[#WyndhamRewards #Hotel #HotelLife #HotelRoom...
4,2020-03-03 16:57:02,Make your break and find your peace. Now throu...,5,wyndham,GraphSidecar,"['wyndham', 'simplycomfortable']",False,NaN,NaN,78,1,[[#WyndhamRewards #Hotel #HotelLife #HotelRoom...

In [283]:
post_df
# len(post_df["Recomment"][0])

,post_id,comment,comment_like,comment_writer,Recomment
0,1,[So are you closing any locations. And what is...,"[0, 0, 0]","[2949682677, 30400932380, 32314495540]",[[[@myercharles No closures as far as we have ...
1,2,[#WyndhamRewards #Hotel #HotelLife #HotelRoom ...,"[0, 0]","[4588672887, 2218457571]","[[], []]"
2,3,[#WyndhamRewards #Hotel #HotelLife #HotelRoom ...,[0],[4588672887],[[]]
3,4,[#WyndhamRewards #Hotel #HotelLife #HotelRoom ...,"[0, 0, 0]","[4588672887, 431729166, 7705405780]","[[], [], []]"
4,5,[#WyndhamRewards #Hotel #HotelLife #HotelRoom ...,[0],[4588672887],[[]]
...,...,...,...,...,...
375,375,[.\n.\n.\n.\n.\n#WyndhamRewards #Hotel #HotelL...,"[0, 0, 0]","[4588672887, 7617712266, 46781238]","[[], [], []]"
376,376,[#WyndhamRewards #Hotel #HotelLife #HotelRoom ...,"[0, 0, 0, 0]","[4588672887, 7034545736, 6964119416, 46781238]","[[], [], [], []]"
377,377,[.\n.\n.\n.\n.\n#Hotel #Hotels #Resorts #Hotel...,"[0, 0, 0]","[4588672887, 5846388556, 46781238]","[[], [], []]"
378,378,[.\n.\n.\n.\n.\n#Hotel #Hotels #Resorts #Hotel...,"[0, 0]","[4588672887, 46781238]","[[], []]"
379,379,[.\n.\n.\n.\n.\n#Hotel #Hotels #Resorts #Hotel...,"[0, 0]","[4588672887, 46781238]","[[], []]"